# MinIO Config
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_REGION=
MINIO_SECURE=
MINIO_BUCKET_BASE=
AUCTION_PREFIX=
MINIO_BASE_DIR=
# Database Config
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_AUTH_PLUGIN=
# API Config
API_URL=
DELETE_FILES_LOCALY_WHILE_UPLOAD_TO_API=False
API_CHECK_IF_PRESENT=''